.navbar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: auto;
    padding: 10px 20px;
    background-color: #e8eff6;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: auto;
}

.join-community {
    margin-right: 60px;
    font-weight: 800;
    color: black;
}

.contact-us {
    font-weight: 700;
    color: black;
}

.menu {

    color: black;
    margin: auto;
}

.section-2 {
    display: flex;
    justify-content: space-around;
    background: #3861f8;
    padding: 123px;
}

.heading-section {
    color: white;
    width: 550px;
    padding-top: 60px;
}

.heading {
    font-size: xxx-large;
}

.button {
    color: #305bfa;
    padding: 11px;
    margin-top: 50px;
    border-radius: 28px;
    width: 375px;
    border: none;
    font-weight: 600;
}

.heading-para {
    font-family: monospace;
    letter-spacing: 1px;
    width: 477px
}

.section-3 {
    background: #e8eff6;
    text-align: center;
}

.featured {
    padding: 50px 10px 10px 10px;
    /* text-align: center; */
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.feature-1 {
    font-family: ui-monospace;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -2px;
    color: #305bfa;
    margin-right: 70px;

}

.feature-2 {
    color: #305bfa;
    margin-right: 70px;

}

.first-leter {
    font-size: 37px;
    font-family: emoji;
}

.remaining-leters {
    font-size: 24px;
    font-family: emoji;
}

.feature-3 {
    font-weight: 900;
    font-size: 33px;
    font-family: fangsong;
    color: #305bfa
}

.feature-4 {
    font-size: 37px;
    font-family: emoji;
    color: #305bfa;
    margin-right: 70px;
}

.feature-5 {
    font-family: ui-monospace;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -2px;
    color: #305bfa;

}

.about-me {
    text-align-last: center;
    font-weight: 600
}

.img-section {
    padding: 20px;
}

.person-img {
    width: 350px;
    border-radius: 50%;
    height: 350px;
    border: 10px solid #e8eff6;

}

.detail {
    font-family: system-ui;
    color: black;
}

#fa {
    font-size: 36px;
    color: white;
    background: #305bfa;
    padding: 6px;
    border-radius: 50%;
    margin: 10px;
}

.services {
    padding-top: 10px;
    /* text-align: center; */
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.services-heading {
    font-weight: 600;
    margin-bottom: 30px;
}

.button-1 {
    margin: 20px;
    background-color: #305bfa;
    color: #fff;
    padding: 8px;
    border-radius: 15px;
    border: none;
    width: 13rem;
    font-weight: 600;
}

.button-2 {
    margin: 20px;
    padding: 8px;
    border-radius: 15px;
    width: 13rem;
    border: 0.5px solid lightblue;
    font-weight: 600;
}

.button-3 {
    margin: 20px;
    border: none;
    padding: 8px;
    border-radius: 15px;
    border: 0.5px solid lightblue;
    width: 13rem;
    font-weight: 600;
}


.section {
    background: #e8eff6;
}

.student4 {
    background-color: #3861f8;
    width: 350px;
}

.club-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dream-11-title {
    width: 294px;
    font-size: 21px;
}

.button-4 {
    width: 240px;
    border-radius: 23px;
    border: none;
    background: #305bfa;
    color: white;
    font-weight: 600;
    margin-top: 33px;
    padding: 9px;
}

.club-title {
    font-family: math;
    font-weight: 600;
    font-size: 45px;
}

.fa-check-circle {
    margin-right: 10px;
}

.club-para {
    font-size: 18px;
}

.club-points {
    font-weight: 600;
}

.courses-btn-1 {
    margin: 20px;
    border: none;
    padding: 8px;
    border-radius: 15px;
    border: 0.5px solid lightblue;
    width: 13rem;
    font-weight: 600;
}

.courses-btn-2 {
    margin: 20px;
    background-color: #305bfa;
    color: #fff;
    border: 0.5px solid lightblue;
    padding: 8px;
    border-radius: 15px;
    width: 13rem;
    font-weight: 600;
}

.courses-btn-3 {
    margin: 20px;
    border: none;
    padding: 8px;
    border-radius: 15px;
    border: 0.5px solid lightblue;
    width: 13rem;
    font-weight: 600;
}

.courses-buttons {
    margin: 40px;
    text-align: center;
}

.footer-copyright1 {
    margin-left: 40px;
}

.footer-copyright2 {
    margin-left: 40px;
}

.container {
    padding: 2px 16px;
}

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
    width: 350px;
    background: #fff;
    border-radius: 20px;
}

.img-course {
    padding: 10px;
}

.container-para {
    font-size: 17px;
    width: 332px;
}


.container-button {
    background-color: #305bfa;
    color: #fff;
    margin: 10px;
    border: 0.5px solid lightblue;
    padding: 15px;
    border-radius: 40px;
    font-size: 18px;
    width: 335px;
    font-weight: 600;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    /* display: flex;
    justify-content: space-evenly;
    overflow: hidden; */
}

.testimonials-container {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.consultation-btn-1 {
    margin: 20px;
    border: none;
    padding: 8px;
    border-radius: 15px;
    border: 0.5px solid lightblue;
    width: 13rem;
    font-weight: 600;
}

.consultation-btn-2 {
    margin: 20px;
    border: none;
    padding: 8px;
    border-radius: 15px;
    border: 0.5px solid lightblue;
    width: 13rem;
    font-weight: 600;
}

.consultation-btn-3 {
    margin: 20px;
    background-color: #305bfa;
    color: #fff;
    border: 0.5px solid lightblue;
    padding: 8px;
    border-radius: 15px;
    width: 13rem;
    font-weight: 600;
}

.consultation-buttons {
    margin: 40px;
    text-align: center;
}

.consultant-icons {
    margin: 15px;
    font-size: 16px;
}

#fa-phone {
    margin-top: 11px;
    font-size: 38px;
    /* margin: 13px; */
    margin-left: 25px;
    padding: 6px;
    color: blue;
    background: #e8eff6;
    border-radius: 50%;
}

.consultant-button {
    background-color: #305bfa;
    color: #fff;
    margin: 10px;
    border: 0.5px solid lightblue;
    padding: 12px;
    border-radius: 40px;
    font-size: 15px;
    width: 335px;
    font-weight: 600;
}

.video-call {
    width: 50px;
    background-color: #e8eff6;
    margin-left: 20px;
    border-radius: 50%;
    padding: 6px;
    margin-top: 12px
}

.testimonials-section {
    text-align: center;
}

.testimonials-card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
    width: 350px;
    background: #fff;
    border-radius: 20px;
    font-size: 17px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}

.testimonials-img {
    width: 68px;
    height: 72px;
    border-radius: 50%
}

.media-section {
    text-align: center;
}

.video {
    width: 82%;
    height: 545px;
    border: none;
    border-radius: 25px;
}

.app-content-section {
    background-color: #305bfa !important;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    height: 900px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.contact-section {
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
}

.app-content-section1 {
    padding-top: 50px;
}

.app-content-section2 {
    font-size: 35px;
    font-weight: 600;
}

.app-content-section-btn {
    margin: 30px;
    width: 285px;
    border-radius: 35px;
    padding: 8px;
    font-weight: 600;
    color: #305bfa;
    border: none;
    background: #fff;
}

.contact-heading {
    font-weight: bold;
    font-size: 27px;
}

#bars {
    display: none;
}

.button2 {
    display: none;
}

.email-icon {
    background: #e8eff6;
    border-radius: 50%;
    padding: 10px;
    color: #305bfa;
}

.email-text {
    margin-top: 10px;
    margin-left: 20px
}

.email-text-1 {
    color: gray;
}

.footer {
    background-color: #305bfa;
    text-align: center;
}

#fa-footer {
    font-size: 36px;
    color: #305bfa;
    background: #e8eff6;
    padding: 6px;
    border-radius: 50%;
    margin: 10px;
}

.club-para-1 {
    width: 515px;
    font-family: math
}

.laptop-img {
    padding: 45px;
}

/* Add more styles here as needed */


@media only screen and (max-width: 320px) {
    .section {
        text-align: center;
        overflow-x: hidden;
    }

    .section-2 {
        display: block;
        padding: 6px;
    }

    .heading {
        font-size: 27px;
    }

    .heading-section {
        color: white;
        width: 320px;
        padding-top: 13px;
    }

    .heading-para {
        font-family: cursive;
        letter-spacing: 0px;
        width: 307px
    }

    .button {
        display: none;
        /* color: #305bfa;
        padding: 11px;
        margin-top: 0px;
        border-radius: 28px;
        width: 300px;
        border: none;
        font-weight: 600; */
    }

    .card-container {
        display: block;
        overflow: hidden;
        /* display: flex;
        justify-content: space-evenly;
        overflow: hidden; */
    }

    .contact-section {
        display: block;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .feature-1 {
        font-size: 22px;
        letter-spacing: -2px;
        margin-right: 0px;
    }

    .first-leter {
        font-size: 25px;
    }

    .feature-4 {
        font-size: 23px;
        margin-right: 0px;
    }

    .feature-5 {
        display: none;
    }

    .remaining-leters {
        font-size: 17px;
    }

    .feature-3 {
        font-size: 22px;
    }


    .feature-2 {
        margin-right: 0px;
    }

    .about-me {
        font-weight: 600;
        padding: 18px;
        font-size: 22px;
    }

    .img-section {
        padding: 0px;
    }

    .person-img {
        width: 320px;
        height: 331px;
    }

    .detail-para {
        padding: 7px;
    }

    #fa {
        font-size: 19px !important;
        padding: 6px;
        margin: 5px;
    }

    .services-heading {
        font-size: 23px;
    }

    .buttons {
        display: flex;
        width: 320px;
        justify-content: space-evenly;
    }

    .button-1 {

        margin: auto;
        padding: 7px;
        /* font-size: 11px; */
        border-radius: 15px;
        border: none;
        width: 100px;

    }

    .button-2 {
        width: 100px;
        padding: 6px;
        margin: auto;
    }

    .button-3 {
        padding: 8px;
        margin: auto;
        width: 100px;
    }

    .club-section {
        display: block;
        text-align: initial;
        padding: 8px;
    }

    .club-title {
        font-size: 33px;
    }

    .club-para-1 {
        width: 310px;

    }

    .button-4 {
        display: none;
    }

    .student4 {
        width: 300px;
        margin-bottom: 28px;
    }

    .club-points {
        font-size: 16px;
    }

    .courses-buttons {
        display: flex;
        width: 320px;
        margin: 0px;
        padding: 6px;
        justify-content: space-evenly;
    }

    .courses-btn-1 {
        width: 100px;
        padding: 6px;
        margin: auto;
    }

    .courses-btn-2 {
        margin: auto;
        padding: 7px;
        border: none;
        width: 100px;
    }

    .courses-btn-3 {
        width: 100px;
        padding: 6px;
        margin: auto;
    }

    .card {
        margin: 10px;
        width: 300px;
        text-align: initial;
    }

    .container {
        text-align: initial;
    }

    .container-para {
        font-size: 14px;
        width: 272px;
    }

    .container-button {
        padding: 9px;
        font-size: 17px;
        width: 278px;
    }

    .consultation-btn-1 {
        width: 100px;
        padding: 6px;
        margin: auto;
    }

    .consultation-btn-2 {
        width: 100px;
        padding: 6px;
        margin: auto;
    }

    .consultation-btn-3 {
        margin: auto;
        padding: 7px;
        border: none;
        width: 100px;
    }

    .consultation-buttons {
        display: flex;
        width: 320px;
        margin: 0px;
        padding: 6px;
        justify-content: space-evenly;
    }

    .dream-11-title {
        width: 266px;
        font-size: 14px;
    }

    #fa-phone {
        font-size: 30px;
        margin-left: 10px;
        text-align: initial;
    }

    .consultant-icons {
        margin: 8px;

    }

    .consultant-button {
        width: 280px;
    }

    .testimonials-container {

        display: flex;
        justify-content: space-evenly;
        width: 900px;
    }

    .testimonials-card {
        margin: 8px;
    }

    .person-name {
        font-size: 22px;
    }

    .services {

        font-size: 17px;
    }

    .video {
        width: 93%;
        height: 229px;
        border-radius: 20px;
    }

    .app-content-section {
        height: 570px;
        border-top-left-radius: 35%;
        border-top-right-radius: 35%;
    }

    .app-content-section2 {
        font-size: 18px;
    }

    .app-content-section-btn {
        width: 260px;
    }

    .contact-heading {
        font-size: 24px;
    }

    .laptop-img {
        padding: 0px;
    }

    .email-icon {

        padding: 15px;
        color: black;
    }

    img {
        width: 300px;
    }

    .menu {
        display: none;
    }

    .footer-copyright1 {
        margin-left: 44px;
    }

    #bars {
        display: unset;
    }

    .button2 {
        color: #305bfa;
        padding: 11px;
        display: unset;
        margin-top: 0px;
        border-radius: 28px;
        width: 300px;
        border: none;
        font-weight: 600;
    }

    .footer-copyright2 {
        margin-left: 16px;
    }
}
